.education{
    align-content:flex-start;
    .textWrapper{
        text-align: start;
        h2{
            text-transform: $uppercase;
            @include rfs(3rem);
        }
        h3{
            @include rfs(2rem);
        }
        p{
            @include rfs(1rem);
        }

    }
}