.menu {
        background-color: rgba(24, 255, 113, 0.205);
        position: -webkit-sticky;
        position: sticky;
        top: 0.01px;
        z-index: 1;
}
.nav-link{
    color: black;
    font-weight: 780;
}