/*Section*/
section{
    @include flex(center,center,wrap);
    background-color: $bgColorP;
    min-height: $height;
    letter-spacing: $letterSpacing;
    //color: $colorP;
    text-align: $alignT;
    font-family: $font-family;
    padding: 10px;
    min-width: 100vw;
}
.textWrapper{
    max-width: 1366px;
}