@media only screen and (max-width: 1440px) {
    section{
        .textWrapper{
            max-width:900px;
        }
    }
  }
    
@media screen and (max-width: 1024px) {
    section{
        .textWrapper{
            max-width:844px;
        }
    }
}
@media screen and (max-width: 768px) {
    section{
        .textWrapper{
            max-width:588px;
        }
    }
}
    
    
@media screen and (max-width: 650px) {
    section{
        .textWrapper{
            max-width:470px;
        }
    }
}
    

@media screen and (max-width: 480px) {
    section{
        .textWrapper{
            max-width:300px;
        }
    }
}

