//Fonts
// $fontSzP:3.75rem;
// $fontSzS:2.813em;
// $fontSzT:1.625em;
// $fontSzText:1.3em;

// //font weigth
// $fontW:900;


//Text
$uppercase:uppercase;
$alignT:center;
$shadowT: 4px 3px 7px rgba(0, 0, 0, 1);
$letterSpacing:2px;

//Text Color
// $colorP:#ff006e;
$colorP:#F9E564;

//Background Color
// $bgColorP:#f6bd60;
$bgColorP:#48cae438;
$bgColorS:#f1faee;
$bgColorT:#a8dadc;

//Sizes
$height:100vh;
$marg:20px;
$maxWidth: 1200px;